@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --font-family: "Space Mono", monospace;
  --font-size: 16px;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-welcome-text: #e5e5e5;

  --color-bg: #121212;
  --color-primary: transparent;
  --color-secondary: #53fc18;
  --color-border: #666;
  --color-button-text: #ffffff;
  --color-button-text-hover: #000;
  --color-button: #b2aeae;

  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-text);

  background-color: var(--color-bg);
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;

  padding: 16px;
}
